# Dealing with Categorical Variables
In this notebook you will learn about categorical variables and how to deal with them in machine learning environment.

In [0]:
# lets import required libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

Lets create a dataset where we ask 10 students wheather they know machine learning or not. Four of them says 'Yes' and Six says 'No'.

In [0]:
#creating data
data = {'ID':[1,2,3,4,5,6,7,8,9,10],'Answer':['No','No','Yes','No','Yes','Yes','No','Yes','No','No']}

#converting them to dataframe
df = pd.DataFrame(data)

In [18]:
# lets view the data
df

   ID Answer
0   1    Yes
1   2     No
2   3    Yes
3   4     No
4   5    Yes
5   6    Yes
6   7     No
7   8    Yes
8   9     No
9  10     No

As the 'Answer' attribute is a categorical variable you will get an error if you try to plug these variables into most machine learning models in Python without preprocessing them first. Lets see  three approaches that you can use to prepare your categorical data.

## 1. Drop Categorical Variables
The easy way to deal with categorical variables is to simply remove them from the dataset.It will only work  if the columns did not contain useful information.

In [0]:
# Get list of categorical variables


# print the number of categorical variables

In [0]:
# Drop the variable containing categorical value

## 2. Label Encoding
Label encoding assigns each unique value to a different integer.    
Yes -> 1                 
No  -> 0

In [0]:
# create a instance of LabelEncoder
Label_Encoder = LabelEncoder()

# fit the total categories and transform the 'Answer' column

## 3. One Hot Encoding
We can use the get_dummies method from pandas and then merge them into original dataset.We can also use the OneHotEncoder class from scikit-learn to get one-hot encodings.

We will try using pandas here.You can use OneHotEncoder from sklearn.

In [0]:
# using pandas to get dummies

In [0]:
# lets check the dummies

In [0]:
# lets merge them into original dataset and drom column Answer


# concat them

In [0]:
# print the final dataset